.SW_EN
{
   width: 40.5%;
   min-width: 150px;
   margin-left: 30%;
}
.SW_EN >details{
   
}
.SW_EN >details >summary
{
   cursor: pointer;
   background: #DFEFFF;
   margin: 6PX;
   padding: 8px;
   border-radius: 10px;
   font-weight: bold;
   
   
}
.SW_EN>details >summary:hover
{
   background: #6699FF;
}
.textsoft
{
   color: white;
   background: black;
   font-style: oblique;
   text-shadow: 1px 5px 10px black;
   margin-left: 50px;
   margin-top: 5px;
}
.imghtml
{
 float: right;
 padding: 2px;
 margin-top: 0.5%;
 
}

.image1
{
    margin-left: 600px;
    margin-bottom: 0px;
    width: 720px;
}